<div class="container-fluid" style="background-color:#272524">
    <div class="row">
        <div class="col-sm-4">
            <div class="container" style="margin-top:30px;width:450px">
                        
                                    <div class="text-center mt-4">
                                        <h1 class="h2">Welcome Back</h1>
                                        <p class="lead">
                                            Sign in to your account to continue
                                        </p>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="m-sm-4" style="margin-left:20px;margin-right:20px">
                                                <div class="text-center">
                                                    <img src="/assets/img/avatar.png" alt="Andrew Jones" class="avatar" width="132" height="132">
                                                </div>
                                                <div *ngIf="failure_message" style="color:Tomato;margin-left:10px">Invalid Credentials</div>
                                                <form>
                                                    
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input [(ngModel)]="user_credential.username" class="form-control form-control-lg" type="text" name="username" placeholder="Enter your username" #username="ngModel" required>
                                                        <div *ngIf="username.errors?.required && username.touched">
                                                            <small style="color:Tomato;margin-left:10px;">username is required.</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input [(ngModel)]="user_credential.password" class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" #password="ngModel" required>
                                                        <div *ngIf="password.errors?.required && password.touched">
                                                            <small style="color:Tomato;margin-left:10px;" >password is required.</small>
                                                        </div>
                                                    </div>
                                                    <div class="text mt-3">
                                                        <a (click)="LoginUser()" class="btn btn-md btn-success" style="margin-bottom:20px"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
                                                        <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                    </div>
        </div>
       <div class="col-md-4">
            <img src="/assets/img/imdb.jpg" class="side-template" width="875" height="605" style="margin-top:10px;margin-left:20px">
        </div>
    </div>
</div>